
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Gruppo);
@import url(http://fonts.googleapis.com/css?family=Overlock+SC);

*{
	margin: 0;
	padding: 0; 
}

img{
	display: block;
	width: 100%;
}


a{
	color: inherit;
	text-decoration: none;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

#container{
	background: url('background3.png') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#background{
	width: 100%;
	height: 500px;
	background-attachment: fixed;
	position: relative;
}
 /*_____________________________________________________________________*/

.fade_content{

}

.quotes {
	font-family: "Gruppo";
	position: absolute;
	top: 20vh;
	height: 90px;
	line-height: 65px;
	margin-top: -50px;
	font-size: 22.5vh;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: orange;
	opacity: .7;
	z-index: 900;
}

.quotes {
	display: none;
}
/*_______________________________________________________________________*/

main{
	padding-top: 350px;
}

header{
	font-family: "Gruppo";
	padding-left: 10%;
	padding-top: 4.5vh;
	padding-bottom: 4.5vh;
	background-color: rgb(225,225,225);
	line-height: 275%;
	margin-bottom: 25px;
	z-index: 1000;
}

header h1{
	color: rgb(66, 134, 244);
	font-size: 4.1vw; 
	line-height: 90%;
	padding-top: 2.5px;
	text-transform: lowercase;
}

header h2{
	color: orange;
	font-size: 4vw;
	letter-spacing: 2.65px;
	text-transform: lowercase;	
}

nav{
	margin-bottom: 25px;
	background-color: rgb(225,225,225);
	z-index: 975;
	
}

nav.stuck{
	position: fixed;
	width:100%;
	top: 0px;
	left: 0;
	border-bottom: 5px solid rgb(93, 94, 96);
}

nav ul{
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
}
nav ul li{
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 3vh;
	padding-bottom: 3vh;
	background-color: rgb(225,225,225);
}
nav ul li a{
	font-family: "Gruppo";
	color: rgb(66, 134, 244);
	font-size: 2.5vw;
	font-weight: bold;
}

main #about{
	background-color: rgb(225,225,225);
	margin-top: 25px;
	padding-top: 30px;
	padding-bottom: 60px;
	margin-bottom: 55px;
}
#about section.left{
	width: 40%;
	float: left;
}
#about section.left img{
	height: auto;
	width: 27.5vw;
	display: block;
	margin: 0 auto;
	padding-top: 7.5vh;
}
#about section.left h4{
	font-family: "Gruppo";
	color: rgb(66, 134, 244);
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	padding-top: 10px;
	text-transform: lowercase;
}
#about section.right{
	width: 60%;
	float: right;
	padding-right: 8%;
    box-sizing: border-box;
}
#about section.right h2{
	padding-top: 30px;
	font-family: "Gruppo";
	color: rgb(66, 134, 244);
	font-size: 4.5vw;
	text-transform: lowercase;
}
#about section.right h3{
	padding-top: 1vh;
	font-family: "Gruppo";
	color: orange;
	font-size: 3.5vw;
	text-transform: lowercase;
}
#about section.right p{
	padding-top: 1.5vh;
	font-family: "Gruppo";
	color: rgb(66, 134, 244);
	font-size: 2.6vw;
	text-align: justify;
}

main #portfolio{
	background-color: rgb(225,225,225);
	margin-top: 25px;
	padding-bottom: 30px;
}

#portfolio h3{
	font-family: "Gruppo";
	color: rgb(66, 134, 244);
	font-size: 3.75vw;
    padding-top: 1vh;	
}

#portfolio h4{
	font-family: "Gruppo";
	color: orange;
	font-size: 2.6vw;
    padding-top: .5vh;

}

#portfolio p{
	font-family: "Gruppo";
	color: rgb(139, 177, 239);
	padding-top: .75vh;
	font-size: 1.85vw;
    color: rgb(139, 177, 239);
    padding-right: 2.5vw;
    text-align: justify;
}

.portfolio_left, .portfolio_right{
	padding-top: 2.5%;
}

#portfolio .portfolio_left .image{
	width: 40%;
	float: left;
	box-sizing: border-box;
}

#portfolio .portfolio_left .image img{
	width: auto ;
  	max-width: 80% ;
 	height: auto ;
 	margin: 0 auto;
 	padding-top: 5%;
 	padding-bottom: 5%;
 	padding-left: 5%;
 	padding-right: 5%;
 	background-color: rgb(139, 177, 239);
}

#portfolio .text span{
	color: red;
	text-transform: lowercase;
	font-weight: bold;
}

#portfolio .portfolio_left .image img:hover{
	background-color: orange;
	transition: 0.5s;
}

#portfolio .portfolio_left .text{
	width: 60%;
	float: right;
	box-sizing: border-box;
}

#portfolio .portfolio_right{
	padding-left: 2.5vw;
	box-sizing: border-box;
}

#portfolio .portfolio_right .image{
	width: 40%;
	float: right;
	box-sizing: border-box;
}

#portfolio .portfolio_right .image img{
	width: auto ;
  	max-width: 80% ;
 	height: auto ;
 	margin: 0 auto;
 	padding-top: 5%;
 	padding-bottom: 5%;
 	padding-left: 5%;
 	padding-right: 5%;
 	background-color: rgb(139, 177, 239);
}

#portfolio .portfolio_right .image img:hover{
	background-color: orange;
	transition: 0.5s;
}

#portfolio .portfolio_right .text{
	width: 60%;
	float: left;
	box-sizing: border-box;
}


main #contact{
	background-color: rgb(225,225,225);
	margin-top: 25px;
	font-family: "Gruppo";
	padding-bottom: 4vh;
	margin-bottom: 5%;
}

#contact .text{
	width: 50%;
	float: left;
	padding-left: 7%;
	box-sizing: border-box;
}

#contact .text h2{
	font-size: 5.5vw;
	color: orange;
	padding-top: 8%;
	padding-left: 8%;
	padding-right: 3%;
	text-transform: lowercase;
	box-sizing: border-box;
}

#contact_links{
	padding-left: 12.5%;
	box-sizing: border-box;
}

#contact_links p{
	font-size: 2.25vw;
	color: rgb(66, 134, 244);
	padding-top: 5.5vh;
	padding-right: 1%;
}

#contact_links p i{
	padding-right: 2vw;
	color: rgb(66, 134, 244);
}

#contact_links p a:hover{
	color: orange;
	transition: 0.3s;
}

#social_media{
	
}

#social_media ul{
	list-style: none;
	padding-top: 3.5vh;
}
#social_media ul li{
	width: 25%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(225,225,225);
}
#social_media ul li a{
	box-sizing: border-box;
	color: orange;
	font-size: 2.8vw;
	font-weight: bold;
	padding-left: 39.5%;
}

form{
	padding-right: 3.5vw;
}

#contact .form{
	width: 50%;
	float: right;
	box-sizing: border-box;
	padding: 5vh 2vw 5vh 2vw;
}

form input, textarea{
	display: block;
	font-family: "Gruppo";
	width: 100%;
	box-sizing: border-box;
	margin: .7vh 0;
	border: 1px solid #ccc;
	padding: 1.4vw;
	font-size: 1.85vw;
	resize: none;
}

form input[type=submit]{
	color: rgb(66, 134, 244);
	text-transform: lowercase;
	font-size: 2.35vw;
}


main #resume{
	background-color: rgb(225,225,225);
	margin-top: 25px;
}

main #resume #pdf_resume{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

#spacer{
	padding-top: 550px;
}

footer{
	border-top: 5px solid rgb(93, 94, 96);
	background-color: rgb(225,225,225);
	margin-top: 25px;
	font-family: "Gruppo";
	padding-bottom: 10px;
	position: fixed;
	left:0px;
   	bottom:0px;
   	width:100%;
   	text-transform: lowercase;
}	   

footer h5{
	text-align: center;
	font-size: 2.25vw;
	padding-top: .75%;
	padding-bottom: 7.5px;
	color: rgb(66, 134, 244);
	font-weight: 900;
	letter-spacing: 2px;
}

footer .footer_pipe{
	color: orange;
}

footer h6{
	text-align: center;
	font-size: 1.5vw;
	color: rgb(139, 177, 239);
	line-height: 10px;
	letter-spacing: 1px;
}

footer h6 a:hover{
	color: orange;
	transition: 0.3s;
}

@media (max-width: 890px){
	.quotes{
		font-size: 16vw;
		opacity: .8;
	}
}

@media (max-width: 760px){
	.quotes{
		font-size: 15vw;
		opacity: .8;
	}
}

@media (max-width: 700px){
	.quotes{
		font-size: 13.5vw;
		opacity: .8;
		top: 20vh;
	}
}



/*@media (max-width: 725px){
	
}

@media (max-width: 560px){

}*/

@media (max-width: 500px){

	header{
		font-family: "Gruppo";
		padding-left: 10%;
		padding-top: 4%;
		padding-bottom: 4%;
		background-color: rgb(225,225,225);
		margin-bottom: 25px;
		z-index: 1000;
	}

	header h1{
		color: rgb(66, 134, 244);
		font-size: 10vw; 
		padding-top: 2.5px;
		text-transform: lowercase;
	}

	header h2{
		color: orange;
		font-size: 8.5vw;
		letter-spacing: 1px;
		text-transform: lowercase;	
	}

	nav ul{
		list-style: none;
	
	}
	nav ul li{
		width: 100%;
		text-align: center;
		padding-top: 1%;
		padding-bottom: 1%;
		background-color: rgb(225,225,225);
	}
	nav ul li a{
		font-family: "Gruppo";
		color: rgb(66, 134, 244);
		font-size: 7.5vw;
		font-weight: bold;
	}

	.quotes{
		font-size: 9.65vh;
		opacity: .8;
	}

	#about section.left{
		display: none;
	}

	#about section.right{
		width: 100%;
		float: none;
		padding-left: 5%;
	    box-sizing: border-box;
	}

	#about section.right h2{
		font-size: 10vw;
	}

	#about section.right h3{
		font-size: 6.75vw;
	}
	#about section.right p{
		font-size: 4vw;
    	width: 100%;
	}

	#portfolio h3{
		font-size: 7.5vw;
	}

	#portfolio h4{
		font-size: 4vw;
		padding-top: 0.5%;
	}

	#portfolio p{
		font-size: 3.75vw;
		padding-bottom: 2vh;
	}

	.portfolio_left, .portfolio_right{
		padding-left: 2.5%;
		padding-right: 2.5%;
	}

	#portfolio .portfolio_left .image{
		width: 100%;
		float: none;
		box-sizing: border-box;
	}

	#portfolio .portfolio_left .text{
		width: 100%;
		float: none;
		padding-left: 6%;
		box-sizing: border-box;
	}

	#portfolio .portfolio_right{
		padding-left: 1%;
		box-sizing: border-box;
	}

	#portfolio .portfolio_right .image{
		width: 100%;
		float: none;
		box-sizing: border-box;
	}

	#portfolio .portfolio_right .text{
		width: 100%;
		float: none;
		padding-left: 6%;
		box-sizing: border-box;
	}

	#contact .text{
		width: 100%;
		float: none;
		padding-left: .5%;
		box-sizing: border-box;
	}

	#contact .text h2 {
		font-size: 10vw;
	}	

	#contact_links p{
		font-size: 5vw;
	}

	#contact_links p i {	
		font-size: 4.75vw;
	}

	#social_media ul li a {
		font-size: 6vw;
	}			

	#contact .form{
		display: none;
	}

	#spacer{
		padding-top: 150px;
	}

	footer h5{
		font-size: 5.5vw;
		padding-bottom: .5vh;
	}

	footer h6{
		font-size: 2.5vw;
	}

}

@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 575px) {
   .quotes{
   	font-size: 12.5vw;
   	top: 9%
   }
}






